[submodule "ale"]
	path = ale
	url = git@github.com:w0rp/ale.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bufexplorer"]
	path = bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "python-syntax"]
	path = python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "rust.vim"]
	path = rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "tagbar"]
	path = tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "ultisnips"]
	path = ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim-better-whitespace"]
	path = vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim-surround"]
	path = vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "nginx.vim"]
	path = nginx.vim
	url = https://github.com/chr4/nginx.vim
[submodule "vim-toml"]
	path = vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "coc.nvim"]
	path = coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "context.vim"]
	path = context.vim
	url = git@github.com:wellle/context.vim.git
[submodule "vim-terraform"]
	path = vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vim-instant-markdown"]
	path = vim-instant-markdown
	url = git@github.com:instant-markdown/vim-instant-markdown.git
[submodule "vim-graphql"]
	path = vim-graphql
	url = git@github.com:jparise/vim-graphql.git
